body, html {
    font-family: 'Source Code Pro', monospace;
    height: 100%;
    margin: 0;
  }
  .main-container {
    background-image: url('./code_background-min.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    height: 100%;
  }
  .main-container:before {
    content: "";
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: -10;
  }

  .main-color {
    background-color: #DBFF00;
  }